@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add this CSS for fade-up animation */
@keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Apply animation to the feature cards */
  .fade-up {
    animation: fadeUp 0.6s ease-out;
  }
  